/* --- HTML elements --- */

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #222831;
    overflow-x: hidden;
    
}
span {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 900;
}

hr {
    width: 8%;
    margin: 2% auto 4%;
    height: 0px;
    border: none;
    border-top: 5px solid #000000;
}

a {
    color: #393E46;
    transition: all 0.5s;
}

a:hover {
    color: #00ADB5;
    transition: all 0.5s;
}

h6 {
    color: #00ADB5;
}

i {
    margin: 3% 1%;
}


/* --- HOME --- */

.home {
    background-color: #393E46;
    text-align: center;
    padding: 15% 10%;
}

.home-img {
    width:200px;
    position: relative;
    top:240px;
}

.home-text {
    margin-bottom: 1%;
}

.arrow {
    transition: all 0.5s;
}

.home {
    margin: auto;
    color: white;
}

.hello-text {
    display: inline-block;
}

.home-red {
    color:#E93B81;
}

.view-work-button:hover .arrow {
    transform: rotate(90deg);
    transition: 0.5s;
}

/* --- NAV --- */

.navbar-dark .navbar-nav .nav-link {
    color: white;
    margin: 0 10px;
    font-weight: 100;
}

.navbar-nav .nav-item:first-child .nav-link {
    margin-left: 130px;
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: #E93B81;
}

.active {
    color: #E93B81 !important;
}

/* --- ABOUT --- */

.about {
    background-color: white;
    text-align: center;
    padding: 5% 10%;
}

.tom-img {
    width: 230px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 1% auto 5%;
}

.skills {
    margin: 5% auto;
    padding: 0 1%;
}

.bio-text {
    width: 70%;
    margin: 0 auto 2%;
}

.labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

.progress {
    height: 5px;
    margin-bottom: 3%;
}
  
.progress-bar {
  background: -webkit-linear-gradient(left, #33156d 0%,#f282bc 100%); /* Chrome10-25,Safari5.1-6 */
  
}



/* --- PORTFOLIO --- */


.portfolio {
    background-color: #EEEEEE;
    text-align: center;
    padding: 5% 10%;
}

.carousel {
    margin: 0 auto;
}

.carousel-inner > .carousel-item > img {
    width:420px;
    height:280px;
}

.project {
      margin: 4% 0;
      padding: 0 10%;
}

.projects {
    margin: 10% 0 5%;
}

.projects > hr {
    width:80%;
    margin: 4% auto 4%;
    height: 0px;
    border: none;
    border-top: 1px solid #393E46;
}

.project-bio > h2 {
    margin: 2% 0 10%;
}

/* --- CONTACT --- */


.contact {
    background-color: #393E46;
    text-align: center;
    padding: 5% 10%;
}

.contact h1 {
    color: white;
}

.contact hr {
    border-color: white;
}

.contact-form {
    text-align: center;
    padding: 5% 10%;
}

.form-control {
    color: white;
    background-color:#222831;
    border: none;
    border-radius: 0;
    margin: 0 0 2px;
}

.form-control:focus {
    color: white;
    background-color: #222831;;
    box-shadow: none;
  }

.button-submit {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
color: #FFFFFF;
font-family: Montserrat, sans-serif;
font-size: 16px;
font-weight: 100;
padding: 6px 20px;
background-color: #393E46;
border: solid #FFFFFF 2px;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
margin-top: 15px;
position: relative;
transition: all 0.5s;
}

.button-submit:hover {
background: #00ADB5;
border: solid #00ADB5 2px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
text-decoration: none;
transition: 0.5s;
}


/* --- FOOTER --- */

.footer {
    text-align: center;
    background-color: #222831;
}

.footer p {
    color : #5e636b;
    display: inline-block;
    font-weight: 100;
}

.footer .copyright {
    color:#E93B81;
}


/* --- ANIMATIONS --- */

@media screen and (min-width: 960px) {

.slide-in-right {
    animation: slideInRight 0.75s ease both;
}

.slide-in-left {
    animation: slideInLeft 0.75s ease both;
}
}

.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}

.slide-up {
    animation: slideUp 0.75s ease both;
}

@keyframes slideUp{
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popout {
    from{transform:scale(0)}
    70%{transform:scale(1.1)}
    85%{transform:scale(0.95)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    70%{-webkit-transform:scale(1.1)}
    85%{transform:scale(0.95)}
    to{-webkit-transform:scale(1)}
}

.invis {
    visibility: hidden;
}

}

.python-bar {
    animation: python-fill 2s forwards;
}

@keyframes python-fill{
    from {
        width: 0%;
    }
    to {
        width: 55%;
    }
}

.java-bar {
    animation: java-fill 2s forwards 2s;
}

@keyframes java-fill{
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}

.sql-bar {
    animation: sql-fill 2s forwards 2s;
}

@keyframes sql-fill{
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

.javascript-bar {
    animation: javascript-fill 2s forwards;
}

@keyframes javascript-fill{
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

.html5-bar {
    animation: html5-fill 2s forwards;
}

@keyframes html5-fill{
    from {
        width: 0%;
    }
    to {
        width: 35%;
    }
}

.css-bar {
    animation: css-fill 2s forwards;
}

@keyframes css-fill{
    from {
        width: 0%;
    }
    to {
        width: 35%;
    }
}

.react-bar {
    animation: react-fill 2s forwards;
}

@keyframes react-fill{
    from {
        width: 0%;
    }
    to {
        width: 25%;
    }
}
.c-bar {
    animation: c-fill 2s forwards;
}

@keyframes c-fill{
    from {
        width: 0%;
    }
    to {
        width: 25%;
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}